* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h5 {
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
}

header {
    background-color: #8B0000;
    height: 125px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 80px
}

main { 
    margin-top: 50px;
    display: flex;
}

.infos{
    padding: 25px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.infos h2{
    margin: 30px 0 ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.infos span {
    color: #FF0000;
}

.infos button{
    font-size: 15px;
    font-weight: 100;
    color:#FFFFFF;
    height: 60px;
    width: 120px;
    border: 3px solid #8B0000;
    border-radius: 15px;
    background-color: #FF0000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.infos button p{


}

.infos p{
    margin: 30px 0 ;

}

.menu img {
    height: 80px;
    width: 80px;
}

.image{
    display: flex;
}

footer{
    background-color: #8B0000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
