* {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

h5 {
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
}

header {
    background-color: #8B0000;
    height: 14vh;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10vh;
}

main {
    width: 100%;
    height: 74vh;
    margin-top: 50px;
    display: grid;
}

.section {
    display: flex;
    justify-content: space-between;

}

.infos {
    margin: 25px 0 0 80px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

.infos h2 {
    margin: 30px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.infos span {
    color: #FF0000;
}

.infos button {
    font-size: 15px;
    font-weight: 100;
    color: #FFFFFF;
    height: 60px;
    width: 120px;
    border: 3px solid #8B0000;
    border-radius: 15px;
    background-color: #FF0000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.infos p {
    margin: 30px 0;
}


.image {
    margin: 5vh 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #FF8C00;
    border-radius: 45% 0 0 0;
}


.cars {
    padding: 10px;
    height: 50vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 0 0 0;
    gap: 35px;
    background-color: #FF8C00;
    border-radius: 0 0 50vh 0 ;
}

.bottonMenu {
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 1s;
}

.bottonMenu:hover{
    transform: translateY(-15px);
}

footer {
    height: 10vh;
    margin: 0;
    background-color: #8B0000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}